# DEMONSTRATION OF BASIC PYTHON SKILLS FOR DATA ANALYSIS

### Description:
### A demonstration project designed to showcase foundational data analytics skills in Python using Jupyter Notebook, aimed at helping beginners understand core data management principles with sample datasets.

## LIBRARIES

In [1]:
import pandas as pd
import numpy as np

# LOADING THE FIRST DATAFRAME [Sales_Data2.csv]

In [2]:
df1 = pd.read_csv("C:/Users/user/Desktop/Sales_Data2.csv")

In [3]:
print(df1.shape) # Checking the Shape of the Dataframe

(20, 8)

## Displaying the first Dataframe

In [4]:
df1

,Order ID,Country,Item Type,Order Date,Ship Date,Quantity,Sales Price,Unit Cost
0,451691138,Australia,Meat,4/4/2011,5/23/2011,4300,421.89,364.69
1,144177377,Tajikistan,Personal Care,7/12/2018,8/1/2018,4145,81.73,56.67
2,982716166,Mozambique,Cosmetics,7/6/2011,7/17/2011,6407,437.20,263.33
3,784543836,Panama,Personal Care,5/1/2011,5/11/2011,2810,81.73,56.67
4,137209212,Canada,Fruits,11/15/2013,12/29/2013,2110,9.33,6.92
5,148573625,Italy,Fruits,7/16/2016,7/18/2016,5092,9.33,6.92
6,196810901,Romania,Beverages,11/15/2012,12/1/2012,9574,47.45,31.79
7,180407369,Australia,Cosmetics,4/30/2019,5/25/2019,5404,437.20,263.33
8,968161857,Bosnia and Herzegovina,Cosmetics,5/29/2016,6/8/2016,9463,437.20,263.33
9,349185693,Japan,Clothes,3/25/2018,4/8/2018,661,109.28,35.84
10,682902705,Papua New Guinea,Beverages,8/28/2013,9/18/2013,4941,47.45,31.79
11,349049222,Madagascar,Fruits,6/17/2014,7/10/2014,276,9.33,6.92
12,497674071,Saint Kitts and Nevis,Personal Care,11/11/2017,11/16/2017,1672,81.73,56.67
13,999138581,Slovakia,Meat,11/26/2011,12/10/2011,6164,421.89,364.69
14,894116580,Eritrea,Meat,11/9/2012,12/13/2012,7820,421.89,364.69
15,643594396,Botswana,Cereal,2/11/2017,2/24/2017,2739,205.70,117.11
16,778870856,Micronesia,Household,3/25/2017,5/3/2017,4049,668.27,502.54
17,551557290,Uzbekistan,Meat,12/11/2017,12/20/2017,6914,421.89,364.69
18,183577525,Jordan,Beverages,2/29/2020,3/13/2020,3524,47.45,31.79
19,417167890,Micronesia,Snacks,8/6/2015,8/8/2015,8104,152.58,97.44

## Save the first dataframe

In [5]:
df1.to_csv('Sales_Data.csv', index=False)

### Checking for Null values in df1

In [6]:
df1.isnull().sum()

Order ID       0
Country        0
Item Type      0
Order Date     0
Ship Date      0
Quantity       0
Sales Price    0
Unit Cost      0
dtype: int64

# LOADING SECOND DATAFRAME [Discounts2.CSV]

In [7]:
df2 =pd.read_csv("C:/Users/user/Desktop/Discounts2.csv")

In [8]:
df2

     Order ID      Item Type  Discounts
0   451691138           Meat       0.69
1   144177377  Personal Care       0.67
2   982716166      Cosmetics       0.33
3   784543836  Personal Care       0.67
4   137209212         Fruits        NaN
5   137209212         Fruits       0.92
6   196810901      Beverages       0.79
7   968161857      Cosmetics       0.33
8   968161857      Cosmetics       0.33
9   349185693        Clothes       0.84
10  682902705      Beverages       0.79
11  349049222         Fruits       0.92
12  497674071  Personal Care        NaN
13  999138581           Meat       0.69
14  894116580           Meat       0.69
15  643594396         Cereal       0.11
16  778870856      Household       0.54
17  551557290           Meat       0.69
18  183577525      Beverages       0.79
19  417167890         Snacks        NaN

In [9]:
df2.to_csv('Discount.csv', index=False) # Saving the second Dataframe [Discount]

In [10]:
print(df2.shape)
print(df2.info())

(20, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Order ID   20 non-null     int64
 1   Item Type  20 non-null     object
 2   Discounts  17 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 612.0+ bytes
None

# CREATING A DATAFRAME WITH TWO COLUMNS [10 x 2 Dimension]

In [11]:
df3 = pd.DataFrame({
    'Country': ['Nigeria', 'Niger Republic', 'Togo', 'Senegal', 'Ghana','Benin Republic','Zambia','Egypt','South Africa','Angola'],
    'Product' : ['Crude Oil','Iron Ore','Fish Products','Leather Works','Coal','Fish Products','Lithium','Cratf work','Gold','Diamond']
   })

In [12]:
print(df3.shape)

(10, 2)

In [13]:
df3

          Country        Product
0         Nigeria      Crude Oil
1  Niger Republic       Iron Ore
2            Togo  Fish Products
3         Senegal  Leather Works
4           Ghana           Coal
5  Benin Republic  Fish Products
6          Zambia        Lithium
7           Egypt     Cratf work
8    South Africa           Gold
9          Angola        Diamond

In [14]:
print(df3.shape) # Check the Dimension of the DataFrame

(10, 2)

# COLUMNS AND ROW SELECTION

In [15]:
df1

,Order ID,Country,Item Type,Order Date,Ship Date,Quantity,Sales Price,Unit Cost
0,451691138,Australia,Meat,4/4/2011,5/23/2011,4300,421.89,364.69
1,144177377,Tajikistan,Personal Care,7/12/2018,8/1/2018,4145,81.73,56.67
2,982716166,Mozambique,Cosmetics,7/6/2011,7/17/2011,6407,437.20,263.33
3,784543836,Panama,Personal Care,5/1/2011,5/11/2011,2810,81.73,56.67
4,137209212,Canada,Fruits,11/15/2013,12/29/2013,2110,9.33,6.92
5,148573625,Italy,Fruits,7/16/2016,7/18/2016,5092,9.33,6.92
6,196810901,Romania,Beverages,11/15/2012,12/1/2012,9574,47.45,31.79
7,180407369,Australia,Cosmetics,4/30/2019,5/25/2019,5404,437.20,263.33
8,968161857,Bosnia and Herzegovina,Cosmetics,5/29/2016,6/8/2016,9463,437.20,263.33
9,349185693,Japan,Clothes,3/25/2018,4/8/2018,661,109.28,35.84
10,682902705,Papua New Guinea,Beverages,8/28/2013,9/18/2013,4941,47.45,31.79
11,349049222,Madagascar,Fruits,6/17/2014,7/10/2014,276,9.33,6.92
12,497674071,Saint Kitts and Nevis,Personal Care,11/11/2017,11/16/2017,1672,81.73,56.67
13,999138581,Slovakia,Meat,11/26/2011,12/10/2011,6164,421.89,364.69
14,894116580,Eritrea,Meat,11/9/2012,12/13/2012,7820,421.89,364.69
15,643594396,Botswana,Cereal,2/11/2017,2/24/2017,2739,205.70,117.11
16,778870856,Micronesia,Household,3/25/2017,5/3/2017,4049,668.27,502.54
17,551557290,Uzbekistan,Meat,12/11/2017,12/20/2017,6914,421.89,364.69
18,183577525,Jordan,Beverages,2/29/2020,3/13/2020,3524,47.45,31.79
19,417167890,Micronesia,Snacks,8/6/2015,8/8/2015,8104,152.58,97.44

## Selecting Single Column: 'country '

In [16]:
country_column = df1['Country']
print("\nSelected Single Column (Country):")
print(country_column.head())

Selected Single Column (Country):
0     Australia
1    Tajikistan
2    Mozambique
3        Panama
4        Canada
Name: Country, dtype: object

In [17]:
country_column

0                  Australia
1                 Tajikistan
2                 Mozambique
3                     Panama
4                     Canada
5                      Italy
6                    Romania
7                  Australia
8     Bosnia and Herzegovina
9                      Japan
10          Papua New Guinea
11                Madagascar
12    Saint Kitts and Nevis
13                  Slovakia
14                   Eritrea
15                  Botswana
16                Micronesia
17                Uzbekistan
18                    Jordan
19                Micronesia
Name: Country, dtype: object

## Selecting Many Columns : Order ID, Country , Item Type , Quantity

In [18]:
selected_columns = df1[['Order ID','Country', 'Item Type','Quantity']]
print("\nSelected Multiple Columns:")
print(selected_columns.head())

Selected Multiple Columns:
    Order ID     Country      Item Type  Quantity
0  451691138   Australia           Meat      4300
1  144177377  Tajikistan  Personal Care      4145
2  982716166  Mozambique      Cosmetics      6407
3  784543836      Panama  Personal Care      2810
4  137209212      Canada         Fruits      2110

In [19]:
selected_columns

     Order ID                 Country      Item Type  Quantity
0   451691138               Australia           Meat      4300
1   144177377              Tajikistan  Personal Care      4145
2   982716166              Mozambique      Cosmetics      6407
3   784543836                  Panama  Personal Care      2810
4   137209212                  Canada         Fruits      2110
5   148573625                   Italy         Fruits      5092
6   196810901                 Romania      Beverages      9574
7   180407369               Australia      Cosmetics      5404
8   968161857  Bosnia and Herzegovina      Cosmetics      9463
9   349185693                   Japan        Clothes       661
10  682902705        Papua New Guinea      Beverages      4941
11  349049222              Madagascar         Fruits       276
12  497674071  Saint Kitts and Nevis   Personal Care      1672
13  999138581                Slovakia           Meat      6164
14  894116580                 Eritrea           Meat      7820
15  643594396                Botswana         Cereal      2739
16  778870856              Micronesia      Household      4049
17  551557290              Uzbekistan           Meat      6914
18  183577525                  Jordan      Beverages      3524
19  417167890              Micronesia         Snacks      8104

## Selecting the 4th row (index 3)

In [20]:
single_row = df1.iloc[5]
print("\nSelected Single Row (4th Row):")
single_row

Selected Single Row (4th Row):

Order ID       148573625
Country            Italy
Item Type         Fruits
Order Date     7/16/2016
Ship Date      7/18/2016
Quantity            5092
Sales Price         9.33
Unit Cost           6.92
Name: 5, dtype: object

## Selecting the first and Sixth columns by index

In [21]:
columns_by_index = df1.loc[[0, 5]]
print("\nSelected rows by Index (1st and 6th):")
columns_by_index

Selected rows by Index (1st and 6th):

,Order ID,Country,Item Type,Order Date,Ship Date,Quantity,Sales Price,Unit Cost
0,451691138,Australia,Meat,4/4/2011,5/23/2011,4300,421.89,364.69
5,148573625,Italy,Fruits,7/16/2016,7/18/2016,5092,9.33,6.92

## Selecting rows 3 to 7 by index

In [22]:
multiple_rows = df1.iloc[3:7]  
multiple_rows

,Order ID,Country,Item Type,Order Date,Ship Date,Quantity,Sales Price,Unit Cost
3,784543836,Panama,Personal Care,5/1/2011,5/11/2011,2810,81.73,56.67
4,137209212,Canada,Fruits,11/15/2013,12/29/2013,2110,9.33,6.92
5,148573625,Italy,Fruits,7/16/2016,7/18/2016,5092,9.33,6.92
6,196810901,Romania,Beverages,11/15/2012,12/1/2012,9574,47.45,31.79

# FILTERING DEMONSTRATION

## Selecting rows where the 'Quantity ' is less the 3000

In [23]:
filtered_data = df1[df1['Quantity'] <3000] 
filtered_data

,Order ID,Country,Item Type,Order Date,Ship Date,Quantity,Sales Price,Unit Cost
3,784543836,Panama,Personal Care,5/1/2011,5/11/2011,2810,81.73,56.67
4,137209212,Canada,Fruits,11/15/2013,12/29/2013,2110,9.33,6.92
9,349185693,Japan,Clothes,3/25/2018,4/8/2018,661,109.28,35.84
11,349049222,Madagascar,Fruits,6/17/2014,7/10/2014,276,9.33,6.92
12,497674071,Saint Kitts and Nevis,Personal Care,11/11/2017,11/16/2017,1672,81.73,56.67
15,643594396,Botswana,Cereal,2/11/2017,2/24/2017,2739,205.70,117.11

## Filter row a where the country is either Australia, Cananda or Madagascar

In [24]:
filtered_d = df1[df1['Country'].isin(['Australia', 'Canada','Madagascar'])] 
filtered_d

,Order ID,Country,Item Type,Order Date,Ship Date,Quantity,Sales Price,Unit Cost
0,451691138,Australia,Meat,4/4/2011,5/23/2011,4300,421.89,364.69
4,137209212,Canada,Fruits,11/15/2013,12/29/2013,2110,9.33,6.92
7,180407369,Australia,Cosmetics,4/30/2019,5/25/2019,5404,437.20,263.33
11,349049222,Madagascar,Fruits,6/17/2014,7/10/2014,276,9.33,6.92

## Filter rows where 'country ' is 'Australia' and Qunatity > 2000

In [25]:

filtered_cont1 = df1[(df1['Country'] == 'Australia') & (df1['Quantity'] > 2000)]
filtered_cont1

,Order ID,Country,Item Type,Order Date,Ship Date,Quantity,Sales Price,Unit Cost
0,451691138,Australia,Meat,4/4/2011,5/23/2011,4300,421.89,364.69
7,180407369,Australia,Cosmetics,4/30/2019,5/25/2019,5404,437.20,263.33

## Filter rows where 'country 'is'Australia'or'Canada' using query

In [26]:
filtered_cont3 = df1.query("Country == 'Australia' or Country == 'Canada'")

filtered_cont3

,Order ID,Country,Item Type,Order Date,Ship Date,Quantity,Sales Price,Unit Cost
0,451691138,Australia,Meat,4/4/2011,5/23/2011,4300,421.89,364.69
4,137209212,Canada,Fruits,11/15/2013,12/29/2013,2110,9.33,6.92
7,180407369,Australia,Cosmetics,4/30/2019,5/25/2019,5404,437.20,263.33

## Filter rows where 'Country' is not 'canada' (Canada is excluded in the filter)

In [27]:
filtered_cont2 = df1[df1['Country'] != 'Canada']
filtered_cont2

,Order ID,Country,Item Type,Order Date,Ship Date,Quantity,Sales Price,Unit Cost
0,451691138,Australia,Meat,4/4/2011,5/23/2011,4300,421.89,364.69
1,144177377,Tajikistan,Personal Care,7/12/2018,8/1/2018,4145,81.73,56.67
2,982716166,Mozambique,Cosmetics,7/6/2011,7/17/2011,6407,437.20,263.33
3,784543836,Panama,Personal Care,5/1/2011,5/11/2011,2810,81.73,56.67
5,148573625,Italy,Fruits,7/16/2016,7/18/2016,5092,9.33,6.92
6,196810901,Romania,Beverages,11/15/2012,12/1/2012,9574,47.45,31.79
7,180407369,Australia,Cosmetics,4/30/2019,5/25/2019,5404,437.20,263.33
8,968161857,Bosnia and Herzegovina,Cosmetics,5/29/2016,6/8/2016,9463,437.20,263.33
9,349185693,Japan,Clothes,3/25/2018,4/8/2018,661,109.28,35.84
10,682902705,Papua New Guinea,Beverages,8/28/2013,9/18/2013,4941,47.45,31.79
11,349049222,Madagascar,Fruits,6/17/2014,7/10/2014,276,9.33,6.92
12,497674071,Saint Kitts and Nevis,Personal Care,11/11/2017,11/16/2017,1672,81.73,56.67
13,999138581,Slovakia,Meat,11/26/2011,12/10/2011,6164,421.89,364.69
14,894116580,Eritrea,Meat,11/9/2012,12/13/2012,7820,421.89,364.69
15,643594396,Botswana,Cereal,2/11/2017,2/24/2017,2739,205.70,117.11
16,778870856,Micronesia,Household,3/25/2017,5/3/2017,4049,668.27,502.54
17,551557290,Uzbekistan,Meat,12/11/2017,12/20/2017,6914,421.89,364.69
18,183577525,Jordan,Beverages,2/29/2020,3/13/2020,3524,47.45,31.79
19,417167890,Micronesia,Snacks,8/6/2015,8/8/2015,8104,152.58,97.44

# Filter rows where 'Quantity' > 2000 and ' Sales Price' > 100

In [28]:
filtered_cont4 = df1.query("Quantity > 2000 and `Sales Price` < 300")
filtered_cont4

,Order ID,Country,Item Type,Order Date,Ship Date,Quantity,Sales Price,Unit Cost
1,144177377,Tajikistan,Personal Care,7/12/2018,8/1/2018,4145,81.73,56.67
3,784543836,Panama,Personal Care,5/1/2011,5/11/2011,2810,81.73,56.67
4,137209212,Canada,Fruits,11/15/2013,12/29/2013,2110,9.33,6.92
5,148573625,Italy,Fruits,7/16/2016,7/18/2016,5092,9.33,6.92
6,196810901,Romania,Beverages,11/15/2012,12/1/2012,9574,47.45,31.79
10,682902705,Papua New Guinea,Beverages,8/28/2013,9/18/2013,4941,47.45,31.79
15,643594396,Botswana,Cereal,2/11/2017,2/24/2017,2739,205.70,117.11
18,183577525,Jordan,Beverages,2/29/2020,3/13/2020,3524,47.45,31.79
19,417167890,Micronesia,Snacks,8/6/2015,8/8/2015,8104,152.58,97.44

## Filter rows where 'countyr' is 'Italy', 'Quantity' > 2000, and 'Item Type' is 'meat or Fruits'

In [29]:
filtered_cont5 = df1[(df1['Country'] == 'Italy') &
                     (df1['Quantity'] > 2000) & 
                     (df1['Item Type'] == 'Fruits')]
filtered_cont5

,Order ID,Country,Item Type,Order Date,Ship Date,Quantity,Sales Price,Unit Cost
5,148573625,Italy,Fruits,7/16/2016,7/18/2016,5092,9.33,6.92

# Filter rows where 'Item Type' is Meat and Cosmetics

In [30]:
filtered_cont6 = df1[df1['Item Type'].isin(['Meat', 'Cosmetics'])]
filtered_cont6

,Order ID,Country,Item Type,Order Date,Ship Date,Quantity,Sales Price,Unit Cost
0,451691138,Australia,Meat,4/4/2011,5/23/2011,4300,421.89,364.69
2,982716166,Mozambique,Cosmetics,7/6/2011,7/17/2011,6407,437.20,263.33
7,180407369,Australia,Cosmetics,4/30/2019,5/25/2019,5404,437.20,263.33
8,968161857,Bosnia and Herzegovina,Cosmetics,5/29/2016,6/8/2016,9463,437.20,263.33
13,999138581,Slovakia,Meat,11/26/2011,12/10/2011,6164,421.89,364.69
14,894116580,Eritrea,Meat,11/9/2012,12/13/2012,7820,421.89,364.69
17,551557290,Uzbekistan,Meat,12/11/2017,12/20/2017,6914,421.89,364.69

# Filter rows where 'Quantity' is between 2000 and 5000

In [31]:
filtered_cont8 = df1[df1['Quantity'].between(2000, 5000)]
filtered_cont8

,Order ID,Country,Item Type,Order Date,Ship Date,Quantity,Sales Price,Unit Cost
0,451691138,Australia,Meat,4/4/2011,5/23/2011,4300,421.89,364.69
1,144177377,Tajikistan,Personal Care,7/12/2018,8/1/2018,4145,81.73,56.67
3,784543836,Panama,Personal Care,5/1/2011,5/11/2011,2810,81.73,56.67
4,137209212,Canada,Fruits,11/15/2013,12/29/2013,2110,9.33,6.92
10,682902705,Papua New Guinea,Beverages,8/28/2013,9/18/2013,4941,47.45,31.79
15,643594396,Botswana,Cereal,2/11/2017,2/24/2017,2739,205.70,117.11
16,778870856,Micronesia,Household,3/25/2017,5/3/2017,4049,668.27,502.54
18,183577525,Jordan,Beverages,2/29/2020,3/13/2020,3524,47.45,31.79

# Filter rows where 'Quantity' greater than 2000 and Two columns  [Country and Quantity] selected for the result

In [32]:
filtered_cont7 = df1.loc[df1['Quantity'] > 2000, ('Country','Quantity')]
filtered_cont7

                   Country  Quantity
0                Australia      4300
1               Tajikistan      4145
2               Mozambique      6407
3                   Panama      2810
4                   Canada      2110
5                    Italy      5092
6                  Romania      9574
7                Australia      5404
8   Bosnia and Herzegovina      9463
10        Papua New Guinea      4941
13                Slovakia      6164
14                 Eritrea      7820
15                Botswana      2739
16              Micronesia      4049
17              Uzbekistan      6914
18                  Jordan      3524
19              Micronesia      8104

# Filter rows where 'Country' contains 'z'

In [33]:
filtered_cont9 = df1[df1['Country'].str.contains('z', case=False)]
filtered_cont9

,Order ID,Country,Item Type,Order Date,Ship Date,Quantity,Sales Price,Unit Cost
2,982716166,Mozambique,Cosmetics,7/6/2011,7/17/2011,6407,437.20,263.33
8,968161857,Bosnia and Herzegovina,Cosmetics,5/29/2016,6/8/2016,9463,437.20,263.33
17,551557290,Uzbekistan,Meat,12/11/2017,12/20/2017,6914,421.89,364.69

# Filter rows where 'Country' starts with 'A'

In [34]:
filtered_cont10 = df1[df1['Country'].str.startswith('A')]
filtered_cont10

,Order ID,Country,Item Type,Order Date,Ship Date,Quantity,Sales Price,Unit Cost
0,451691138,Australia,Meat,4/4/2011,5/23/2011,4300,421.89,364.69
7,180407369,Australia,Cosmetics,4/30/2019,5/25/2019,5404,437.20,263.33

# BASIC SORTING SKILLS

## Sort by a single column in ascending order (e.g., 'Country')

In [35]:
if 'Country' in df1.columns:
    sorted_by_id = df1.sort_values(by='Country', ascending=True)
    print("\nDataFrame Sorted by 'Country' (Ascending):")
    print(sorted_by_id.head())

DataFrame Sorted by 'Country' (Ascending):
     Order ID                 Country  Item Type Order Date  Ship Date  \
19  417167890              Micronesia     Snacks   8/6/2015   8/8/2015
7   180407369               Australia  Cosmetics  4/30/2019  5/25/2019
0   451691138               Australia       Meat   4/4/2011  5/23/2011
8   968161857  Bosnia and Herzegovina  Cosmetics  5/29/2016   6/8/2016
15  643594396                Botswana     Cereal  2/11/2017  2/24/2017

    Quantity  Sales Price  Unit Cost
19      8104       152.58      97.44
7       5404       437.20     263.33
0       4300       421.89     364.69
8       9463       437.20     263.33
15      2739       205.70     117.11

In [36]:
sorted_by_id

,Order ID,Country,Item Type,Order Date,Ship Date,Quantity,Sales Price,Unit Cost
19,417167890,Micronesia,Snacks,8/6/2015,8/8/2015,8104,152.58,97.44
7,180407369,Australia,Cosmetics,4/30/2019,5/25/2019,5404,437.20,263.33
0,451691138,Australia,Meat,4/4/2011,5/23/2011,4300,421.89,364.69
8,968161857,Bosnia and Herzegovina,Cosmetics,5/29/2016,6/8/2016,9463,437.20,263.33
15,643594396,Botswana,Cereal,2/11/2017,2/24/2017,2739,205.70,117.11
4,137209212,Canada,Fruits,11/15/2013,12/29/2013,2110,9.33,6.92
14,894116580,Eritrea,Meat,11/9/2012,12/13/2012,7820,421.89,364.69
5,148573625,Italy,Fruits,7/16/2016,7/18/2016,5092,9.33,6.92
9,349185693,Japan,Clothes,3/25/2018,4/8/2018,661,109.28,35.84
18,183577525,Jordan,Beverages,2/29/2020,3/13/2020,3524,47.45,31.79
11,349049222,Madagascar,Fruits,6/17/2014,7/10/2014,276,9.33,6.92
16,778870856,Micronesia,Household,3/25/2017,5/3/2017,4049,668.27,502.54
2,982716166,Mozambique,Cosmetics,7/6/2011,7/17/2011,6407,437.20,263.33
3,784543836,Panama,Personal Care,5/1/2011,5/11/2011,2810,81.73,56.67
10,682902705,Papua New Guinea,Beverages,8/28/2013,9/18/2013,4941,47.45,31.79
6,196810901,Romania,Beverages,11/15/2012,12/1/2012,9574,47.45,31.79
12,497674071,Saint Kitts and Nevis,Personal Care,11/11/2017,11/16/2017,1672,81.73,56.67
13,999138581,Slovakia,Meat,11/26/2011,12/10/2011,6164,421.89,364.69
1,144177377,Tajikistan,Personal Care,7/12/2018,8/1/2018,4145,81.73,56.67
17,551557290,Uzbekistan,Meat,12/11/2017,12/20/2017,6914,421.89,364.69

## Strip leading/trailing whitespaces and standardise capitalisation & sorting the DataFrame in ascending order by the 'Country' column

In [37]:
if 'Country' in df1.columns:
        df1['Country']=df1['Country'].str.strip().str.title() 

        sorted_df1=df1.sort_values(by='Country', ascending=True)  
        print("\nDataFrame Sorted by 'Country' (Ascending, After Cleaning):")
        print(sorted_df1.head())

DataFrame Sorted by 'Country' (Ascending, After Cleaning):
     Order ID                 Country  Item Type  Order Date   Ship Date  \
0   451691138               Australia       Meat    4/4/2011   5/23/2011
7   180407369               Australia  Cosmetics   4/30/2019   5/25/2019
8   968161857  Bosnia And Herzegovina  Cosmetics   5/29/2016    6/8/2016
15  643594396                Botswana     Cereal   2/11/2017   2/24/2017
4   137209212                  Canada     Fruits  11/15/2013  12/29/2013

    Quantity  Sales Price  Unit Cost
0       4300       421.89     364.69
7       5404       437.20     263.33
8       9463       437.20     263.33
15      2739       205.70     117.11
4       2110         9.33       6.92

In [38]:
sorted_df1

,Order ID,Country,Item Type,Order Date,Ship Date,Quantity,Sales Price,Unit Cost
0,451691138,Australia,Meat,4/4/2011,5/23/2011,4300,421.89,364.69
7,180407369,Australia,Cosmetics,4/30/2019,5/25/2019,5404,437.20,263.33
8,968161857,Bosnia And Herzegovina,Cosmetics,5/29/2016,6/8/2016,9463,437.20,263.33
15,643594396,Botswana,Cereal,2/11/2017,2/24/2017,2739,205.70,117.11
4,137209212,Canada,Fruits,11/15/2013,12/29/2013,2110,9.33,6.92
14,894116580,Eritrea,Meat,11/9/2012,12/13/2012,7820,421.89,364.69
5,148573625,Italy,Fruits,7/16/2016,7/18/2016,5092,9.33,6.92
9,349185693,Japan,Clothes,3/25/2018,4/8/2018,661,109.28,35.84
18,183577525,Jordan,Beverages,2/29/2020,3/13/2020,3524,47.45,31.79
11,349049222,Madagascar,Fruits,6/17/2014,7/10/2014,276,9.33,6.92
16,778870856,Micronesia,Household,3/25/2017,5/3/2017,4049,668.27,502.54
19,417167890,Micronesia,Snacks,8/6/2015,8/8/2015,8104,152.58,97.44
2,982716166,Mozambique,Cosmetics,7/6/2011,7/17/2011,6407,437.20,263.33
3,784543836,Panama,Personal Care,5/1/2011,5/11/2011,2810,81.73,56.67
10,682902705,Papua New Guinea,Beverages,8/28/2013,9/18/2013,4941,47.45,31.79
6,196810901,Romania,Beverages,11/15/2012,12/1/2012,9574,47.45,31.79
12,497674071,Saint Kitts And Nevis,Personal Care,11/11/2017,11/16/2017,1672,81.73,56.67
13,999138581,Slovakia,Meat,11/26/2011,12/10/2011,6164,421.89,364.69
1,144177377,Tajikistan,Personal Care,7/12/2018,8/1/2018,4145,81.73,56.67
17,551557290,Uzbekistan,Meat,12/11/2017,12/20/2017,6914,421.89,364.69

### Explanation: The sorted_by_id data frame above was sorted in ascending order by country. unfortunately, while sorting, the row with index 19 appeared as the first row in variance with the sorting order and the structure of the strings in the column. There could be the presence of whitespaces or issues of standardised capitalisation on the column [Country]. 
### To solve the Problem, two functions were introduced in the code
### 1. .str.strip() -white spacing
### 2.  .str. title()  standardise capitalisation.
### The two functions are likened to the TRIM () and PROPER () functions in Microsoft Excel. The functions (.str.strip()) strip leading whitespace, and While (.str.title()) function handles standardize capitalization of the strings in the column.

# BASIC DATA CLEANING

## Inspecting the  df2 on the dataset

In [39]:
print(df2.shape)

(20, 3)

## Summary of the dataframe

In [40]:
print(df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Order ID   20 non-null     int64
 1   Item Type  20 non-null     object
 2   Discounts  17 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 612.0+ bytes
None

## Basic descrptive statistics of the  numerical columns

In [41]:
print(df2.describe())

           Order ID  Discounts
count  2.000000e+01  17.000000
mean   5.558758e+08   0.634706
std    3.133418e+08   0.231142
min    1.372092e+08   0.110000
25%    3.109896e+08   0.540000
50%    5.246157e+08   0.690000
75%    8.119370e+08   0.790000
max    9.991386e+08   0.920000

## Count missing values in each columns

In [42]:
print(df2.isnull().sum())

Order ID     0
Item Type    0
Discounts    3
dtype: int64

## Fill the missing value with a specific value [0]

In [43]:
df2['Discounts']=df2['Discounts'].fillna(0)

In [44]:
print(df2['Discounts'])

0     0.69
1     0.67
2     0.33
3     0.67
4     0.00
5     0.92
6     0.79
7     0.33
8     0.33
9     0.84
10    0.79
11    0.92
12    0.00
13    0.69
14    0.69
15    0.11
16    0.54
17    0.69
18    0.79
19    0.00
Name: Discounts, dtype: float64

## Fill specific missing values based on index

In [45]:
df2.loc[4, 'Discounts'] = 0.67  # Fill index 4
df2.loc[12, 'Discounts'] = 0.45 # Fill index 12
df2.loc[19, 'Discounts'] = 0.76 # Fill index 19
print(df2)

     Order ID      Item Type  Discounts
0   451691138           Meat       0.69
1   144177377  Personal Care       0.67
2   982716166      Cosmetics       0.33
3   784543836  Personal Care       0.67
4   137209212         Fruits       0.67
5   137209212         Fruits       0.92
6   196810901      Beverages       0.79
7   968161857      Cosmetics       0.33
8   968161857      Cosmetics       0.33
9   349185693        Clothes       0.84
10  682902705      Beverages       0.79
11  349049222         Fruits       0.92
12  497674071  Personal Care       0.45
13  999138581           Meat       0.69
14  894116580           Meat       0.69
15  643594396         Cereal       0.11
16  778870856      Household       0.54
17  551557290           Meat       0.69
18  183577525      Beverages       0.79
19  417167890         Snacks       0.76

### Compare output in 44 to 46

## Renaming Column : Discount to My_Discounts

In [46]:
df2.rename(columns={'Discounts':' My_Discounts'}, inplace=True)

print("\nModified DataFrame:")
print(df2)

Modified DataFrame:
     Order ID      Item Type   My_Discounts
0   451691138           Meat           0.69
1   144177377  Personal Care           0.67
2   982716166      Cosmetics           0.33
3   784543836  Personal Care           0.67
4   137209212         Fruits           0.67
5   137209212         Fruits           0.92
6   196810901      Beverages           0.79
7   968161857      Cosmetics           0.33
8   968161857      Cosmetics           0.33
9   349185693        Clothes           0.84
10  682902705      Beverages           0.79
11  349049222         Fruits           0.92
12  497674071  Personal Care           0.45
13  999138581           Meat           0.69
14  894116580           Meat           0.69
15  643594396         Cereal           0.11
16  778870856      Household           0.54
17  551557290           Meat           0.69
18  183577525      Beverages           0.79
19  417167890         Snacks           0.76

In [47]:
df2.drop_duplicates(inplace=True)
print(df2)

     Order ID      Item Type   My_Discounts
0   451691138           Meat           0.69
1   144177377  Personal Care           0.67
2   982716166      Cosmetics           0.33
3   784543836  Personal Care           0.67
4   137209212         Fruits           0.67
5   137209212         Fruits           0.92
6   196810901      Beverages           0.79
7   968161857      Cosmetics           0.33
9   349185693        Clothes           0.84
10  682902705      Beverages           0.79
11  349049222         Fruits           0.92
12  497674071  Personal Care           0.45
13  999138581           Meat           0.69
14  894116580           Meat           0.69
15  643594396         Cereal           0.11
16  778870856      Household           0.54
17  551557290           Meat           0.69
18  183577525      Beverages           0.79
19  417167890         Snacks           0.76

In [48]:
duplicates = df2.duplicated(subset=['Order ID', 'Item Type'])
print(df2[duplicates])

    Order ID Item Type   My_Discounts
5  137209212    Fruits           0.92

In [49]:
df2.drop_duplicates(subset=['Order ID', 'Item Type'], inplace=True)
print(df2)

     Order ID      Item Type   My_Discounts
0   451691138           Meat           0.69
1   144177377  Personal Care           0.67
2   982716166      Cosmetics           0.33
3   784543836  Personal Care           0.67
4   137209212         Fruits           0.67
6   196810901      Beverages           0.79
7   968161857      Cosmetics           0.33
9   349185693        Clothes           0.84
10  682902705      Beverages           0.79
11  349049222         Fruits           0.92
12  497674071  Personal Care           0.45
13  999138581           Meat           0.69
14  894116580           Meat           0.69
15  643594396         Cereal           0.11
16  778870856      Household           0.54
17  551557290           Meat           0.69
18  183577525      Beverages           0.79
19  417167890         Snacks           0.76

In [50]:
print(df2.shape)

(18, 3)

### Index 5 in datafrme 45 dropped

### Every expert was once a novice !. The only difference is consistent effort fueled by genuine interest.  Omenihu Giles